<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="phpunit_bootstrap.php"
>

    <testsuites>
        <testsuite name="price-breakdown Test Suite Framework">
            <directory>../tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <!-- logging for jenkins -->
        <log type="junit" target="../build/logs/junit_unit.xml" logIncompleteSkipped="false"/>
        <log type="coverage-clover" target="../build/logs/coverage.xml"/>
        <log type="coverage-html" target="../build/logs/html"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
            <exclude>
                <directory>../tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
